.table{
    overflow-x: auto;
    width: 100%;
}
table{
    width: 100%;
    /* border: 1px solid green; */
}
table thead {
    text-align: left;
}
table thead tr{
    background-color: rgb(247, 253, 248);
}
table th{
    padding: 10px;
}
table td{
    padding: 10px;
}
table tbody tr{
    background-color: #fff;
}
table tbody tr:hover{
    background-color: rgb(247, 253, 248);
    cursor: pointer;
}

/* this is profile section */
.profile{
    text-align: center;
    padding: 30px;
}
.profile h4{
    margin: 20px 0px;
}
.profile_footer{
    text-align: right;
}